<!DOCTYPE html>
<html lang="en" ng-app="2pdsApp">
<head>
    <!--Metadata-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="author" content="David Narvaez, Juan David Vega, Juan Diego Chaves, Santiago Cortes">
    <meta name="theme-color" content="#212121">
    <title>2PDS</title>

    <!--Stylesheet-->
    <link rel="stylesheet" href="app/utils/libs/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="app/utils/libs/bower_components/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="app/utils/libs/font_awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="app/utils/styles/style.css">

    <!--JavaScript Libraries-->
    <script type="text/javascript" src="app/utils/libs/bower_components/angular/angular.js"></script>
    <script type="text/javascript"
            src="app/utils/libs/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script type="text/javascript" src="app/utils/libs/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="app/utils/libs/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!--Angular Modules-->
    <script type="text/javascript" src="app/src/modules/home/home.mod.js"></script>
    <script type="text/javascript" src="app/src/modules/home/home.ctrl.js"></script>
    <script type="text/javascript" src="app/src/modules/services/services.mod.js"></script>
    <script type="text/javascript" src="app/src/modules/services/services.ctrl.js"></script>
    <script type="text/javascript" src="app/src/modules/project/project.mod.js"></script>
    <script type="text/javascript" src="app/src/modules/project/project.ctrl.js"></script>
    <script type="text/javascript" src="app/src/app.js"></script>

</head>
<body class="full-size" ng-controller="menuController">
    <div class="header">
        <div class="logo"></div>
        <div class="menu">
            <a id="menu-item-0" class="menu-button" ng-click="goMenu(0)">Home</a>
            <a id="menu-item-1" class="menu-button" ng-click="goMenu(1)">Services</a>
            <a id="menu-item-2" class="menu-button" ng-click="goMenu(2)">Project</a>
            <a id="menu-item-3" class="menu-button" ng-click="goMenu(3)">About</a>
        </div>
        <div class="account">
            <span class="fa fa-sign-in menu-button">
                <a class="menu-button-icon" ng-click="goMenu(4)">Account</a>
            </span>
        </div>
    </div>

    <div class="content full-size">
        <div class="full-size" id="mainView" ui-view="mainView"></div>
    </div>
</body>
</html>
