<div class="full-size diagnosis-container">

    <div class="form-group formulario-diagnostico">
        <label for="nlq">Patitent Description</label>
        <input id="nlq" class="form-control" placeholder="Natural Languaje Query" ng-model="nlq">
        <button class="btn btn-primary" ng-click="send({nlq})" >Send</button>
    </div>

    <div>
        <div class="loader" ng-show="!results"></div>
    </div>

    <div class="result-container thumbnail" ng-repeat="diagnosis in results">

        <h1>Result {{$index+1}}
            <small> {{diagnosis.date}}</small>
        </h1>

        <!--<span class="learn-more-diagnosis-text"></span>-->
        <button class="btn btn-default" ng-click="seeText(diagnosis.text)">Read More</button>
        <button class="btn btn-default" ng-click="seeHighlights(diagnosis.highlights)">Highlights</button>

        <h2>Categories</h2>
        <div id="categories-progresses" class="categories-container">
            <div class="categories-item thumbnail" ng-repeat="category in diagnosis.categories">
                <h3>{{category.label}}</h3>
                <round-progress
                        value="{{ category.score * 100}}"
                        radio=50"
                        stroke="10"
                        ng-style="{color: category.color.background}"
                        data="{{ category }}"
                ></round-progress>
            </div>
        </div>

        <h2>Concepts</h2>

        <div id="concepts-progresses" class="concepts-container">
            <div class="concept-item thumbnail" ng-repeat="concept in diagnosis.concepts"
                 on-timeline-render="conceptsRenderDone">
                <h3>{{concept.text}}</h3>
                <round-progress
                        value="{{ concept.relevance * 100}}"
                        radio=50"
                        stroke="10"
                        ng-style="{color: '#09696'}"
                        data="{{ concept }}"
                ></round-progress>
            </div>
        </div>
    </div>
</div>
