<h3 class="center-block text-center text-sidebar">Search</h3>
<div class="filter">
    <form>
        <input class="filter-patient form-control" type="text" name="search"
               placeholder="Name" ng-model="Data.filter.name">
        <input class="filter-patient form-control" type="text" name="search" placeholder="ID"
               ng-model="Data.filter.id">
        <input class="filter-patient form-control" type="text" name="search"
               placeholder="Type" ng-model="Data.filter.type">
    </form>
</div>
