<div class="full-size">
    <div class="full-size text-sidebar center-block text-center">
        <div ng-style="{background: 'url('+currentPatient.img+') no-repeat center', backgroundSize: 'contain', height: '35%'}"></div>
        <h3>{{currentPatient.name}}</h3>
        <p>{{currentPatient.age}} Years Old</p>
        <p>{{currentPatient.rh}}</p>
        <a href="callto:{{currentPatient.phone}}">{{currentPatient.phone}}</a><br>
        <a href="mailto:{{currentPatient.mail}}">{{currentPatient.mail}}</a>

        <div class="patien-detail-buttons-container sidebar-buttons">
            <button class="btn btn-default" ng-click="seeHistory()">Clinical History</button>
            <button class="btn btn-default" ng-click="seeExams()">Exams</button>
            <button class="btn btn-default" ng-click="seeDiagnosis()">Diagnosis</button>
        </div>

    </div>
</div>
